body {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 97vh;
}

header {
  text-align: center;
  background-color: grey;
  font-size: 48px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 97vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

button {
  width: 200px;
  height: 40px;
  margin: 20px;
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 8px;
}
button:active{
  transform: translateY(2px);
}

main {
  display: flex;
  justify-content: center;
  background-color: #cfcfcf;
  font-size: 36px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 97vw;
  gap: 40px;
  margin-top: 40px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  background-color: white;
  min-width: 400px;
  justify-content: center;
}

#gameOverText {
  margin-top: 40px;
  color: red;
  font-size: 124px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
}

.board {
  display: flex;
  border: 1px solid black;
}

.box {
  width: 32px;
  height: 32px;
  background-color: white;
  border: 1px solid black;
}
.boxHit {
  width: 32px;
  height: 32px;
  background-color: red;
  border: 1px solid black;
}
.boxMiss {
  width: 32px;
  height: 32px;
  background-color: green;
  border: 1px solid black;
}

footer {
  text-align: center;
  background-color: grey;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 97vw;
  margin-top: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}